* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #1f2937;
}

.top-section {
    background-color: #1f2937;
    padding: 0 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
}
.hero-text {
    flex: 1;
}

.hero-text h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
}